<a href="https://colab.research.google.com/github/RUSHIKETHANA28/2303A51919-B28-PDS/blob/main/LAB5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

# -----------------------------
# 1. Create Customers Dataset
# -----------------------------
customers = pd.DataFrame({
    "customer_id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "city": ["Mumbai", "Delhi", "Mumbai", "Bangalore", "Delhi"]
})

# -----------------------------
# 2. Create Transactions Dataset
# -----------------------------
transactions = pd.DataFrame({
    "transaction_id": [101, 102, 103, 104, 105, 106, 107],
    "customer_id": [1, 2, 2, 3, 4, 5, 1],
    "amount": [500, 1500, 800, 2000, 1200, 300, 700],
    "date": [
        "2025-09-01", "2025-09-02", "2025-09-02",
        "2025-09-03", "2025-09-04", "2025-09-04", "2025-09-05"
    ]
})

print("=== Customers Dataset ===")
print(customers, "\n")

print("=== Transactions Dataset ===")
print(transactions, "\n")

# -----------------------------
# 3. Merge datasets on customer_id
# -----------------------------
merged = pd.merge(transactions, customers, on="customer_id", how="inner")

print("=== Merged Dataset ===")
print(merged, "\n")

# -----------------------------
# 4. Calculate total spend per customer
# -----------------------------
customer_spend = merged.groupby(["customer_id", "name"])["amount"].sum().reset_index()
customer_spend = customer_spend.sort_values(by="amount", ascending=False)

print("=== Total Spend per Customer ===")
print(customer_spend, "\n")

# -----------------------------
# 5. Group by city to analyze spending
# -----------------------------
city_spend = merged.groupby("city")["amount"].sum().reset_index()
city_spend = city_spend.sort_values(by="amount", ascending=False)

print("=== City-wise Spend ===")
print(city_spend, "\n")

# -----------------------------
# 6. Identify Top Spender
# -----------------------------
top_spender = customer_spend.iloc[0]
print(f"Top Spender: {top_spender['name']} (Customer ID: {top_spender['customer_id']}) - ₹{top_spender['amount']}")

=== Customers Dataset ===
   customer_id     name       city
0            1    Alice     Mumbai
1            2      Bob      Delhi
2            3  Charlie     Mumbai
3            4    David  Bangalore
4            5      Eva      Delhi

=== Transactions Dataset ===
   transaction_id  customer_id  amount        date
0             101            1     500  2025-09-01
1             102            2    1500  2025-09-02
2             103            2     800  2025-09-02
3             104            3    2000  2025-09-03
4             105            4    1200  2025-09-04
5             106            5     300  2025-09-04
6             107            1     700  2025-09-05

=== Merged Dataset ===
   transaction_id  customer_id  amount        date     name       city
0             101            1     500  2025-09-01    Alice     Mumbai
1             102            2    1500  2025-09-02      Bob      Delhi
2             103            2     800  2025-09-02      Bob      Delhi
3             104            3    2000  2025-09-03  Charlie     Mumbai
4             105            4    1200  2025-09-04    David  Bangalore
5             106            5     300  2025-09-04      Eva      Delhi
6             107            1     700  2025-09-05    Alice     Mumbai

=== Total Spend per Customer ===
   customer_id     name  amount
1            2      Bob    2300
2            3  Charlie    2000
0            1    Alice    1200
3            4    David    1200
4            5      Eva     300

=== City-wise Spend ===
        city  amount
2     Mumbai    3200
1      Delhi    2600
0  Bangalore    1200

Top Spender: Bob (Customer ID: 2) - ₹2300

In [9]:
import pandas as pd

# -----------------------------
# 1. Create Patients Dataset
# -----------------------------
patients = pd.DataFrame({
    "patient_id": [1, 2, 3, 4, 5],
    "name": ["Amit", "Bina", "Chirag", "Deepa", "Esha"],
    "age": [30, 45, 25, 60, 50],
    "city": ["Mumbai", "Delhi", "Bangalore", "Mumbai", "Delhi"]
})

# -----------------------------
# 2. Create Appointments Dataset
# -----------------------------
appointments = pd.DataFrame({
    "appointment_id": [101, 102, 103, 104, 105, 106, 107, 108],
    "patient_id": [1, 2, 2, 3, 4, 1, 5, 3],
    "doctor": ["Dr. Rao", "Dr. Shah", "Dr. Shah", "Dr. Mehta", "Dr. Rao", "Dr. Mehta", "Dr. Shah", "Dr. Mehta"],
    "date": [
        "2025-09-01", "2025-09-02", "2025-09-05",
        "2025-09-03", "2025-09-04", "2025-09-07",
        "2025-09-08", "2025-09-09"
    ]
})

print("=== Patients Dataset ===")
print(patients, "\n")

print("=== Appointments Dataset ===")
print(appointments, "\n")

# -----------------------------
# 3. Merge datasets on patient_id
# -----------------------------
merged = pd.merge(appointments, patients, on="patient_id", how="inner")

print("=== Merged Dataset ===")
print(merged, "\n")

# -----------------------------
# 4. Count appointments per patient
# -----------------------------
patient_visits = merged.groupby(["patient_id", "name"])["appointment_id"].count().reset_index()
patient_visits = patient_visits.rename(columns={"appointment_id": "visit_count"})
patient_visits = patient_visits.sort_values(by="visit_count", ascending=False)

print("=== Appointments per Patient ===")
print(patient_visits, "\n")

# -----------------------------
# 5. Group by doctor to compute workload
# -----------------------------
doctor_workload = merged.groupby("doctor")["appointment_id"].count().reset_index()
doctor_workload = doctor_workload.rename(columns={"appointment_id": "total_appointments"})
doctor_workload = doctor_workload.sort_values(by="total_appointments", ascending=False)

print("=== Doctor Workload ===")
print(doctor_workload, "\n")

# -----------------------------
# 6. Find patient with maximum visits
# -----------------------------
top_patient = patient_visits.iloc[0]
print(f"Patient with Maximum Visits: {top_patient['name']} (ID: {top_patient['patient_id']}) - {top_patient['visit_count']} visits")

=== Patients Dataset ===
   patient_id    name  age       city
0           1    Amit   30     Mumbai
1           2    Bina   45      Delhi
2           3  Chirag   25  Bangalore
3           4   Deepa   60     Mumbai
4           5    Esha   50      Delhi

=== Appointments Dataset ===
   appointment_id  patient_id     doctor        date
0             101           1    Dr. Rao  2025-09-01
1             102           2   Dr. Shah  2025-09-02
2             103           2   Dr. Shah  2025-09-05
3             104           3  Dr. Mehta  2025-09-03
4             105           4    Dr. Rao  2025-09-04
5             106           1  Dr. Mehta  2025-09-07
6             107           5   Dr. Shah  2025-09-08
7             108           3  Dr. Mehta  2025-09-09

=== Merged Dataset ===
   appointment_id  patient_id     doctor        date    name  age       city
0             101           1    Dr. Rao  2025-09-01    Amit   30     Mumbai
1             102           2   Dr. Shah  2025-09-02    Bina   45      Delhi
2             103           2   Dr. Shah  2025-09-05    Bina   45      Delhi
3             104           3  Dr. Mehta  2025-09-03  Chirag   25  Bangalore
4             105           4    Dr. Rao  2025-09-04   Deepa   60     Mumbai
5             106           1  Dr. Mehta  2025-09-07    Amit   30     Mumbai
6             107           5   Dr. Shah  2025-09-08    Esha   50      Delhi
7             108           3  Dr. Mehta  2025-09-09  Chirag   25  Bangalore

=== Appointments per Patient ===
   patient_id    name  visit_count
0           1    Amit            2
1           2    Bina            2
2           3  Chirag            2
3           4   Deepa            1
4           5    Esha            1

=== Doctor Workload ===
      doctor  total_appointments
0  Dr. Mehta                   3
2   Dr. Shah                   3
1    Dr. Rao                   2

Patient with Maximum Visits: Amit (ID: 1) - 2 visits